<h1>
        welcome to todo list
    </h1>
    
        
        <ul>
                {% for list in all_item %}
                    <li>
                        {{list.added_list}}
                    
                        <form action="/deleteTodo/{{ list.id }}/"
                         style="display:inline"
                          method="post"> {% csrf_token %}
                            <input type="submit" value="delete" />
                        </form>
                    
                    </li>
                {% endfor %}
        </ul>
    
    <form action = "/addtodo/" method = "post"> {% csrf_token %}
        <input  type = "text" name = "added_list"/>
        <input type="submit" value = "add"/>
    </form>